<div id="games-show"></div>

<script id="games-show-data" type="application/json">
  <%= raw json_escape({
    game: @rep_game,
    token: form_authenticity_token,
    paths: {
      gameSessionsPath: game_sessions_path
    }
  }.to_json) %>
</script>

<%= vite_javascript_tag "game" %>
